<!DOCTYPE html/>
<html>
  <head>
    <title>[% title %]</title>
  </head>
  <body style="font-family:sans-serif;">

    <!-- program -->
    <dev class="comment">
      [% comment %]
    </dev>
    
    <dev class "license">
      [% license %]
    </dev>
    
    <dev class="author">
      <ul>
	[% FOREACH author IN authors %]
	<li>
	  author
	</li>
	[% END %]
      </ul>
    </dev>

    <dev class="todo">
      <ul>
	[% FOREACH todo IN todos %]
	<li>
	  todo
	</li>
	[% END %]
      </ul>
    </dev>


    <!-- routine -->
    
      <ul>
	[% FOREACH routine IN routines %]
	<li>
	  <h2 style="margin:0px; padding:0px; display:inline; font-size:1.2em; color:#444;">
	    [% routine.name %]
	  </h2>
	  <p><u><strong>
	      [% routine.brief %]
	  </strong></u></p>
	  <p style=\"display:block; background-color:#eee; margin:0px; padding:5px; border:1px dashed #aaa; width:90%; font-size:9pt;">
	    [% routine.description %]
	  </p>
	  
	  [% FOREACH param IN routines.params %]
	  <br/>
	  <span style="display:block; color:#499;">
	    <strong>
	      &#64;param
	    </strong>
	  </span>
	  <span style="color:#949; font-style:italic;">
	    [% param %]
	  </span>  
	  [% END %]

	  <br/>
	  <span style="display:block; color:#494; margin-top:10px;">
	    <strong>
	      &#64;return
	    </strong>
	  </span>
	  <span style="color:#949; font-style:italic;">
	    [% routine.return %]
	  </span> 
	</li>
	[% END %]
      </ul>
    

    <div class="copyright">
      &copy; [% copyright %] [% date %] [% first_author%]
    </div>
    
  </body>
  
</html>
